<div class="schedule">
    <strong class="schedule-date">15 Jun</strong>

    <div class="events">
        <div class="event">
            <span class="time">8:45</span>
            <div class="details">
                <div class="detail">
                    <div class="detail-header">
                        <div class="detail-title">
                            <h5> 📣 Registration & Welcome</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="event">
            <span class="time">9:00</span>
            <div class="details">
                <div class="detail keynote">
                    <div class="detail-header" onclick="this.nextElementSibling.classList.toggle('active')">
                        <div class="avatar-wrapper">
                            <div class="avatar-spinner"></div>
                            <img class="avatar-image" src="assets/img/speaker_Michael_Black.jpg" alt="Keynote 1 – Michael Black">
                        </div>
                        <div class="detail-title">
                            <h5>Keynote 1 – Michael Black</h5>
                            <small>University of Cambridge</small>
                        </div>
                        <svg class="toggle-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12,15.25a.74.74,0,0,1-.53-.22l-5-5A.75.75,0,0,1,7.53,9L12,13.44,16.47,9A.75.75,0,0,1,17.53,10l-5,5A.74.74,0,0,1,12,15.25Z"/></svg>
                    </div>
                    <div class="detail-content">
                        <p>Michael Black is a professor at the University of Cambridge, where he works on the intersection of computer vision and sign language. His research focuses on developing methods for understanding and generating sign language using deep learning techniques.</p>
                        <p>
                            Our workshop will be hybrid, with both in-person and remote participation options. Workshop languages are American Sign Language (ASL), International Sign (IS), and English.
                            ASL/English interpretation will be provided on-site for the whole workshop. IS/English interpretation will be provided remotely for stage presentations. If you would like IS/English interpreting for the poster session as well, please contact us at
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="event">
            <span class="time">9:30</span>
            <div class="details">
                <div class="detail keynote">
                    <div class="detail-header" onclick="this.nextElementSibling.classList.toggle('active')">
                        <div class="avatar-wrapper">
                            <div class="avatar-spinner"></div>
                            <img class="avatar-image" src="assets/img/speaker_MaartjeDeMeulder.jpg" alt="Keynote 2 – Maartje De Meulder">
                        </div>
                        <div class="detail-title">
                            <h5>Keynote 2 – Maartje De Meulder</h5>
                            <small>University of Cambridge</small>
                        </div>
                        <svg class="toggle-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12,15.25a.74.74,0,0,1-.53-.22l-5-5A.75.75,0,0,1,7.53,9L12,13.44,16.47,9A.75.75,0,0,1,17.53,10l-5,5A.74.74,0,0,1,12,15.25Z"/></svg>
                    </div>
                    <div class="detail-content">
                        <p>Maartje De Meulder is a professor at the University of Cambridge, where she works on the intersection of computer vision and sign language. Her research focuses on developing methods for understanding and generating sign language using deep learning techniques.</p>
                        <p>
                            Our workshop will be hybrid, with both in-person and remote participation options. Workshop languages are American Sign Language (ASL), International Sign (IS), and English.
                            ASL/English interpretation will be provided on-site for the whole workshop. IS/English interpretation will be provided remotely for stage presentations. If you would like IS/English interpreting for the poster session as well, please contact us at
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="event">
            <span class="time">10:00</span>
            <div class="details">
                <div class="detail break-time">
                    <div class="detail-header">
                        <div class="detail-title">
                            <h5>☕️ Coffee Break</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="event">
            <span class="time">10:30</span>
            <div class="details">
                <div class="detail keynote">
                    <div class="detail-header" onclick="this.nextElementSibling.classList.toggle('active')">
                        <div class="avatar-wrapper">
                            <div class="avatar-spinner"></div>
                            <img class="avatar-image" src="assets/img/speaker_Matthias_Niessner.jpg" alt="Keynote 3 – Matthias Nießner">
                        </div>
                        <div class="detail-title">
                            <h5>Keynote 3 – Matthias Nießner</h5>
                            <small>University of Cambridge</small>
                        </div>
                        <svg class="toggle-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12,15.25a.74.74,0,0,1-.53-.22l-5-5A.75.75,0,0,1,7.53,9L12,13.44,16.47,9A.75.75,0,0,1,17.53,10l-5,5A.74.74,0,0,1,12,15.25Z"/></svg>
                    </div>
                    <div class="detail-content">
                        <p>Matthias Nießner is a professor at the University of Cambridge, where he works on the intersection of computer vision and sign language. His research focuses on developing methods for understanding and generating sign language using deep learning techniques.</p>
                        <p>
                            Our workshop will be hybrid, with both in-person and remote participation options. Workshop languages are American Sign Language (ASL), International Sign (IS), and English.
                            ASL/English interpretation will be provided on-site for the whole workshop. IS/English interpretation will be provided remotely for stage presentations. If you would like IS/English interpreting for the poster session as well, please contact us at
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="event">
            <span class="time">11:00</span>
            <div class="details">
                <div class="detail keynote">
                    <div class="detail-header" onclick="this.nextElementSibling.classList.toggle('active')">
                        <div class="avatar-wrapper">
                            <div class="avatar-spinner"></div>
                            <img class="avatar-image" src="assets/img/speaker_Abraham_Glasser.jpg" alt="Keynote 4 – Abraham Glasser">
                        </div>
                        <div class="detail-title">
                            <h5>Keynote 4 – Abraham Glasser</h5>
                            <small>University of Cambridge</small>
                        </div>
                        <svg class="toggle-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12,15.25a.74.74,0,0,1-.53-.22l-5-5A.75.75,0,0,1,7.53,9L12,13.44,16.47,9A.75.75,0,0,1,17.53,10l-5,5A.74.74,0,0,1,12,15.25Z"/></svg>
                    </div>
                    <div class="detail-content">
                        <p>Abraham Glasser is a PhD student at the University of Cambridge, where he works on the intersection of computer vision and sign language. His research focuses on developing methods for understanding and generating sign language using deep learning techniques.</p>
                        <p>
                            Our workshop will be hybrid, with both in-person and remote participation options. Workshop languages are American Sign Language (ASL), International Sign (IS), and English.
                            ASL/English interpretation will be provided on-site for the whole workshop. IS/English interpretation will be provided remotely for stage presentations. If you would like IS/English interpreting for the poster session as well, please contact us at
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="event">
            <span class="time">11:30</span>
            <div class="details">
                <div class="detail">
                    <div class="detail-header">
                        <div class="detail-title">
                            <h5> 🏆 SLP Competition Winners</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="event">
            <span class="time">11:50</span>
            <div class="details">
                <div class="detail">
                    <div class="detail-header">
                        <div class="detail-title">
                            <h5> ❓ Q&A for Remote Papers</h5>
                            <small>Pre-recorded videos will be available online prior to the session.</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="event">
            <span class="time">12:00</span>
            <div class="details">
                <div class="detail">
                    <div class="detail-header">
                        <div class="detail-title">
                            <h5> 📌 Poster Session & Networking</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>