.page-content {
    padding: 100px 0; /* VERTICAL PADDING FOR TITLE ON EVERY PAGE */
}
.page-heading {
    font-size: 20px;
}
.contacticon {
    display: block;
    font-size: 60px;
    margin: 10px;
}
.center{
    text-align: center;
}

// Users
.user {
    &-cards {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }

    &-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        flex: 1 0 calc(25% - 1rem);
    }

    &-image {
        border-radius: 50%;
        margin-bottom: 1rem;
        width: 170px;
        height: 170px;
        object-fit: cover;
        box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1);
    }

    &-name {
        margin-bottom: .25rem;
        font-weight: bold;
    }
}

// home
.post-title {
    display: flex;
    align-items: center;
    gap: 6px;
}

.slrtplogo-home {
    /*width: 180px;*/
}


  
.slrtplogo-home path {
    transform: translate(var(--text-translateX),var(--text-translateY));
}

.slrtplogo-home .path-text-animation {
    animation: wavyText var(--text-animation-speed) ease-in-out infinite;
}

.slrtplogo-home .path-text-animation:nth-child(1) {
    animation-delay: 100ms;
}

.slrtplogo-home .path-text-animation:nth-child(2) {
    animation-delay: 200ms;
}

.slrtplogo-home .path-text-animation:nth-child(3) {
    animation-delay: 300ms;
}

.slrtplogo-home .path-text-animation:nth-child(4) {
    animation-delay: 400ms;
}

.slrtplogo-home .path-text-animation:nth-child(5) {
    animation-delay: 500ms;
}

@keyframes wavyText {
    0%,
    100% {
        transform: translate(var(--text-translateX),var(--text-translateY))
    }
    25%,
    50% {
        transform: translate(var(--text-translateX),calc(var(--text-translateY) + 10%))
    }
}
  

:root {
    --logo-background: white;
    --logo-text: rgb(35, 171, 200);
    --logo-hands: #666666;
    --text-animation-speed: 1s
}